doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(href='./css/admin.css', rel='stylesheet', type='text/css')
    body
        .container
            .menu-left
                ul
                    li 新闻添加
                    li 新闻列表
